$color-white: #fff;
$color-black: #000;
$color1: #101010;
$color2: #878787;
$color3: #112211;
$color4: #3F3F3F;
$color5: #F5F5F5;
$color6: #5D5959;
$color7: #C4C4C4;
$color8: #0336FF;
$color9: #FFC400;
$color10: #E0B279;
$color11: #FFF6EA;
$color12: #1D1B20;
$color13: #FA823C;
$color14: #484848;
$color15: #9A9A9A;
$color16: #ebebeb;
$color17: #6d6d6d;
$color18: #C4C4C44D;
$color19: #F4610C;
$color20: #FFFBF5;
$color21: #0023A1;
$color22: #F3F3F3;
$color23: #F7931E;
$color24: #F7F7F7;
$color25: #EFEAEA;
$color26: #BABABA;
$color27: #F99500;
$color28: #28871C;
$color29: #878C9F;
$color30: #F7F9FB;
$color31: #3AACED;
$color32: #F9B90F;
$color33: #999999;
$color34: #2DB4FF;
$color35: #FF2F2F;
$color36: #9EE800;
$color37: #FF912C;
$color38: #FFE602;











